<div id="audio" class="music_flex" ondrop="handleDrop(event)"
ondragover="handleDragOver(event)">
<p>Soundtracks</p>
<!-- {% for audio_data in predef_audio_s %}
<div class="audio_item">
    <p class="audio_name">{{ audio_data[1][0] }}</p>
    <p class="audio_duration">{{ audio_data[1][1] }}</p>
</div>
{% endfor %} -->
<hr>
<p>Transition Audio</p>
<!-- {% for audio_data in predef_audio_t %}-->
<!--<div class="audio_item">-->
<!--    <p class="audio_name">{{ audio_data[1][0] }}</p>-->
<!--    <p class="audio_duration">{{ audio_data[1][1] }}</p>-->
<!--</div>-->
<!--{% endfor %} -->
<!-- <a></a> -->
</div>